<label class="container">
    Edit Items
    <label for="Item-Price" class="row mt-2">
        <span class="col">Item id:</span>
        <Input class="col" id="itemId" @value={{this.itemId}}/>
    </label>
    <label for="Item-Name" class="row mt-2">
        <span class="col">Item Name:</span>
        <Input class="col" id="itemname" @value={{this.itemName}} {{autofocus}}/>
    </label>
    <label for="Item-Price" class="row mt-2">
        <span class="col">Item Price:</span>
        <Input class="col" id="itemPrice" @value={{this.itemPrice}}/>
    </label>
    
    
    <button type="button" class="btn btn-outline-primary mt-2"
        {{on "click" this.submit}}
    >
        submit
    </button>
</label>
