{{page-title 'Items'}}
<h4 class='container'>Inside cart Items</h4>
<main class='container wraps'>
  {{!-- <div class='container row'>
    {{#each @model as |item|}}
      <div class='row mb-1 mt-1'>
        <LinkTo
          class='col'
          @route='cart.items.preview'
          @model={{item.id}}
        >{{item.name}}</LinkTo>
        <span class='col'>{{item.price}}</span>
      </div>
    {{/each}}
  </div> --}}

  <ItemsList @routeName='cart.items.preview' @price=1/>

  <div class=''>
    {{outlet}}
  </div>
</main>

<div class='container pb-2 pt-2 pl-2 pr-2'>
  <BillTotal
    @subtotal={{subtotal this.model}}
    @tax={{this.tax}}
    @total={{this.total}}
  />
</div>