{{page-title 'Items'}}
<main class='container'>
  <h4>Inside cart Items</h4>
  <main class='container mt-4'>
      <div class="row">
          <LinkTo class="col" @route='item' @model='1'>Product 1</LinkTo>
          <span class="col">{{this.model}}</span>
      </div>
      <div class="row">
          <LinkTo class="col" @route='item' @model='2'>Product 2</LinkTo>
          <span class="col">{{this.model}}</span>
      </div>
    
    
  </main>
  <section class='container mt-4'>
    <div class='row'>
      <span class='col'>Subtotal</span>
      <span class='col'>{{this.subtotal}}</span>
    </div>

    <div class='row'>
      <span class='col'>Tax</span>
      <span class='col'>{{this.tax}}</span>
    </div>
    <hr>

    <div class='row'>
      <span class='col'>Total</span>
      <span class='col'>{{this.total}}</span>
    </div>
    <hr>
  </section>

  <button type='button' class='btn btn-success float-right'>Check Out</button>
</main>
{{outlet}}