{{page-title "Preview"}}
{{!-- this is preview of --}}
<div class="container">
    <span><i>Item ID:</i> {{this.model.id}}</span>
    <br><span><i>Item Name:</i> {{this.model.name}}</span>
    <br>
    <span><i>Item price:</i> {{this.model.price}}</span>
</div>
{{outlet}}