{{page-title 'Index'}}
<div class='container'>
  <h1>Home</h1>
</div>

{{!-- <div class='container'>
  <ItemsList @routeName='item' />
  <LinkTo @route='index.add-new'>
    <button type='button' class='btn btn-primary'>Add New Item</button>
  </LinkTo>
</div> --}}

<div class='container mt-5'>
  <button
    class='btn btn-primary'
    type='button'
    {{on 'click' this.refreshList}}
  >Refresh</button>
</div>

{{!-- <div class='container mt-5'>
  {{#each this.model as |item|}}
    <div class='mt-2'>
      <span>{{item.itemName}}</span>
      <button type="button">delete</button>
    </div>
    <br />
  {{/each}}
</div> --}}

<div class='container'>
  <hr>

  {{!-- <ItemModelList @itemarray={{this.model}}/> --}}
  {{#each this.model as |item|}}
    <div class='mt-2'>
      <span>{{item.itemName}} {{item.itemId}}</span>
      <button
        type='button'
        {{on 'click' (fn this.delete item.itemId)}}
      >delete</button>
    </div>
    <br />
  {{/each}}

  <hr>

</div>

<div class="container">
  <label class="container">
    Add Items
    <label for="Item-Name" class="row mt-2">
        <span class="col">Item Name:</span>
        <Input class="col" id="itemname" @value={{this.itemName}} {{autofocus}}/>
    </label>
    <label for="Item-Price" class="row mt-2">
        <span class="col">Item Price:</span>
        <Input class="col" id="itemPrice" @value={{this.itemPrice}}/>
    </label>
    <label for="Item-Price" class="row mt-2">
        <span class="col">Item id:</span>
        <Input class="col" id="itemId" @value={{this.itemId}}/>
    </label>
    
    <button type="button" class="btn btn-outline-primary mt-2"
        {{on "click" this.addItem}}
    >
        submit
    </button>
</label>

</div>

{{! this.model }}

{{!-- <EditItem /> --}}


<label class="container">
    Edit Items
    <label for="Item-Price-edit" class="row mt-2">
        <span class="col">Item id:</span>
        <Input class="col" id="eitemId" @value={{this.eitemId}}/>
    </label>
    <label for="Item-Name" class="row mt-2">
        <span class="col">Item Name:</span>
        <Input class="col" id="eitemname" @value={{this.eitemName}} {{autofocus}}/>
    </label>
    <label for="Item-Price" class="row mt-2">
        <span class="col">Item Price:</span>
        <Input class="col" id="eitemPrice" @value={{this.eitemPrice}}/>
    </label>
    
    
    <button type="button" class="btn btn-outline-primary mt-2"
        {{on "click" this.submit}}
    >
        submit
    </button>
</label>
{{outlet}}